.root {
  width: 600px;
  padding: 16px;
  background-image: url("/public/background.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}
